<li class="eaNetworkExplorer-wLimitedListItem">
    <i class="eaNetworkExplorer-wLimitedListItem-favoriteIcon {{#if favorite}}eaNetworkExplorer-wLimitedListItem-favoriteIcon_favorited{{/if}} ebIcon ebIcon_interactive ebIcon_star"></i>
    <a class="eaNetworkExplorer-wLimitedListItem-link" title="{{name}}" href="{{url}}">{{name}}{{#if duplicate}} <span class="ebText_alternative">({{category}})</span>{{/if}}</a>
</li>
